.reveal {
	/* background-color: red; */
	height: auto;
}
.slider {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/* background: red; */
	background-color: #e0fbfc;
	z-index: 10;
	height: 100%;
	width: auto;
}
.revealIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
}
