section {
	padding: 2rem 2rem;
}
.heroText span {
	font-family: heading;
	/* font-family: hero-font; */
}
.heroText span:first-child {
	color: #3d5a80;
}
.heroText span:nth-child(2) {
	color: #98c1d9;
}
.heroText span:nth-child(3) {
	color: #e0fbfc;
}
.heroText span:nth-child(4) {
	color: #ee6c4d;
}
.pageWrapper {
	overflow: hidden;
}

.hero-wrapper {
	position: relative;
	height: 60vh;
}
.hero-text-wrapper {
	position: absolute;
	bottom: 30%;
	width: 100%;
	flex-direction: column;
	align-items: center;
	display: flex;
	justify-content: center;
}
.heroText {
	position: relative;
	width: 100%;

	display: flex;
	justify-content: center;
}
.heroText span {
	position: relative;
}

.hero-text-wrapper span {
	font-size: 6rem;
}
.hero-sub-text {
	padding: 0rem 2rem;
	/* background-color: red; */
	text-align: center;
}
.hero-content-wrapper {
	/* background-color: red; */
}
.hero-content-wrapper .wrapper {
	min-height: 70vh;
	padding: 3rem 0;
	height: auto;
	width: 100%;
	border-radius: 15px;

	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.25);

	display: flex;
	flex-direction: column;
}
.top-hero-content {
	display: flex;
	justify-content: center;
	font-size: 1rem;
	text-align: center;
	text-align: start;
	padding: 0 1rem;
	margin-bottom: 3rem;
}

.secondary-text {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 1rem 1rem;
}
.secondary-text p {
	margin-bottom: 1rem;
}
.secondary-text a {
	text-decoration: underline;
}
.services-wrapper {
	padding: 0 0.5rem;
}
.services-wrapper ul {
	padding: 0 1rem;
}

.services-wrapper li {
	padding: 0 1rem;
	display: flex;
	align-items: center;
	height: 4rem;
	border-radius: 50px;
	margin: 0.3rem 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #087187;
	font-size: 1rem;
	font-weight: bold;
	margin: 0.8rem 0;
}

.services-wrapper li:nth-child(odd) {
	background-color: #ffffff;
}
.services-wrapper li:nth-child(odd) p {
	color: black;
}

.services-wrapper img {
	width: 2rem;
}
/* .hero-content-wrapper .wrapper .left-hero-content,
.hero-content-wrapper .wrapper .right-hero-content {

	display: flex;
} */

.steps {
	color: #3d5a80;
	height: 20%;
	padding: 1rem 0;
	display: flex;
	justify-content: start;
	align-items: center;
	padding-left: 1rem;
	font-weight: bold;
	font-size: 1.2rem;
	border-bottom: 2px solid #3d5a80;
}

.x1::before {
	content: "";
	width: 40%;
	height: 40%;

	position: absolute;
	top: -10px;
	left: -10px;
}
.x1:hover::before {
	background-color: rgba(255, 255, 255, 0.06);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
}

/* homepage portfolio intro section  */

.port-intro {
	/* background-color: red; */
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: start;
}
.portfolio-header h3 {
	font-size: 0.8rem;
	color: #bab3a9;
}
.port-intro-text {
	width: 100%;
	margin: 0.7rem 0;
}

.port-intro-text p {
	font-size: 1.5rem;
	font-weight: bold;
}

.port-intro-btn-wrapper {
	margin: 0.4rem 0;
}
.port-intro-btn-wrapper p {
	padding: 0.5rem 1.5rem;
	font-size: 1rem;
	width: 100%;
	border-radius: 16px;
	background-color: #087187;
}

.port {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem 0;
}

.port img {
	width: 20rem;
}
.port-content {
	margin: 1rem 0;
	padding: 0 1rem;
}
.port-content h4 {
	font-size: 10px;
	color: #727272;
}
.port-content p {
	/* background-color: red; */
	padding-right: 30%;
	font-size: 20px;
}

/* clients we've worked with  */
.clients-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.portfolio-wrapper {
	padding: 0;
	margin: 0;
}
@media screen and (min-width: 1000px) {
	section {
		padding: 1rem 10rem;
	}
	.hero-wrapper {
		height: 50vh;
	}
	.hero-text-wrapper {
		bottom: 10%;
	}
	.hero-text-wrapper span {
		font-size: 20rem;
	}
	.hero-sub-text {
		padding: 0rem 20rem;
		/* background-color: red; */
		text-align: center;
	}
	.hero-content-wrapper {
	}
	.hero-content-wrapper .wrapper {
		/* min-height: 95vh; */
		height: auto;
		flex-direction: column;
		padding: 0;
		padding: 6rem 0;
	}
	.top-hero-content {
		font-size: 2rem;
	}
	.top-hero-content {
		padding: 0 4rem;
		margin-bottom: 3rem;
	}

	.secondary-text {
		flex-direction: row;
		padding: 1rem 4rem;
	}

	.secondary-text p {
		margin-bottom: 1rem;
		padding-right: 5rem;
		/* background-color: red; */
		width: auto;
	}
	.secondary-text a {
		width: 15rem;
		display: flex;
		justify-content: center;
		/* background-color: rgb(171, 136, 136); */
		height: 100%;
		display: flex;
		align-items: flex-end;
	}

	.services-wrapper ul {
		padding: 0 3rem;
	}

	.services-wrapper img {
		width: 3rem;
	}
	.services-wrapper li {
		font-size: 2.5rem;
		padding: 0 5rem;
		margin: 1rem 0;
	}

	/* homepage portfolio intro section  */

	.portfolio-header h3 {
		margin-bottom: 3rem;
	}
	.port-intro {
		align-items: center;
	}
	.port-intro-btn-wrapper {
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;

		width: 15%;
	}

	.port-intro-text {
		width: 70%;
		padding: 0;
		padding-right: 14rem;
	}
	.port-intro-text p {
		font-size: 3rem;
	}
	.port-intro-btn-wrapper a {
		width: 100%;
	}
	.port-intro-btn-wrapper p {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem 0rem;
		font-size: 1rem;
		width: 100%;
		background-color: #087187;
	}
	.port-intro {
		height: 5rem;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}

	.port:nth-child(odd) {
		flex-direction: row-reverse;
	}

	.port {
		flex-direction: row;
	}

	.port img {
		width: 30rem;
	}
	.port-content {
		padding: 0 10rem;
	}

	.contact-wrapper p {
		font-size: 10rem;
	}
	.contact-wrapper {
		height: 70vh;
	}
	.contact-wrapper .email-btn {
		background-color: transparent;
		width: 8rem;
		height: 8rem;
	}
}
