* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: white;
	scroll-behavior: smooth;
}

@font-face {
	font-family: hero-font;
	src: url("./assets/fonts/debrahtpersonaluse-regular.otf");
}
@font-face {
	font-family: heading;
	src: url("./assets/fonts/Puntodewa-Regular.otf");
}
@font-face {
	font-family: text-font;
	src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}
p {
	/* color: black !important; */
	font-family: text-font;
}
li,
a {
	list-style-type: none;
	text-decoration: none;
	font-family: text-font;
	color: black;
}
h1,
h2,
h3,
h4,
h5 {
	font-family: heading;
	color: white;
}
body {
	background-color: black;
	/* background-color: #edede9; */
}

highlight {
	color: red;
}
.divider {
	margin: 3rem 0;
	width: 100%;
	height: 2px;
	background: rgba(255, 255, 255, 0.59);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
.hl-blue {
	color: blue;
}
